{% ckan_extends %}

{% import 'macros/form_macros.html' as form_macros %}

{% block package_basic_fields_tags %} 
  {{ super() }}

{% if h.is_tag_loc_enabled() %}
  <div data-module="custom-fields" style="margin-bottom: 4%">
    {% for tag in data.tags %}
      {% set prefix = 'extra_tag__%d__' % loop.index0 %}
      {{ form_macros.custom_tag(
        names=(prefix ~ 'key', prefix ~ 'value', prefix ~ 'deleted'),
        id='field-extra-tag-%d' % loop.index,
        label=_('Localized Tag Name'),
        values=(tag.name, tag.display_name, False),
        error=errors[prefix ~ 'key'] or errors[prefix ~ 'value'],
        attrs={'readonly': 'true'}
      ) }}
    {% endfor %}

    {# Add a max of 1 empty columns #}
    {% set total_extras = data.tags|count %}
    {% set empty_extras = (limit or 1) - total_extras %}
    {% if empty_extras <= 0 %}{% set empty_extras = 1 %}{% endif %}

        {% for extra in range(total_extras, total_extras + empty_extras) %}
      {% set index = loop.index0 + (data.tags|count) %}
      {% set prefix = 'extra_tag__%d__' % index %}

<div class="form-group control-custom" style="margin-bottom: 0px;">
	<label class="control-label" for="field-extra-tag-{{index + 1}}-key">{{ _('Localized Tag Name') }}</label>
	<div class="controls editor">
      <div style="display: flex">
		<div class="row" style="width: 100%;">
			<div class="col-md-6">
				<div class="input-group">
					<label for="field-extra-tag-{{index + 1}}-key" class="input-group-addon">{{ _('Key') }}</label>
					<select style="padding: 0px;" index="{{ index }}" class="form-control" id="field-extra-tag-{{index + 1}}-key" type="text" name="extra_tag__{{index}}__key" value="" placeholder="">
                    </select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<label for="field-extra-tag-{{ index }}-value" class="input-group-addon">{{ _('Value') }}</label>
						<input class="form-control" id="field-extra-tag-{{ index }}-value" type="text" name="extra_tag__{{ index }}__value" value="" placeholder="">
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
  </div>
{% endfor %}
  </div>
{% endif %}
<script>
  document.addEventListener("DOMContentLoaded", function(){
    $("#field-tags").change(function () {
        let available_tags = document.getElementById('field-tags').value;
        available_tags = available_tags.split(',');
        const tags = available_tags.filter(function (item, i) {
          const element = document.getElementById(`field-extra-tag-${+i + 1}-key`);
          const dom_availability = element ? !element.value && true : !element;
          return dom_availability;
        });

        const options = tags.map(function (tag) {
          return(`<option value="${tag}">${tag}</option>`);
        }).join('');

        var i;
        for (i = (+available_tags.length - +tags.length); i < +available_tags.length + 1; i++) {
          const id = `field-extra-tag-${i}-key`;
          const element = document.getElementById(id);
          if (element){
            if (options){
              element.innerHTML = `<option value="">---------------</option>${options}`;
            }
            else {
              element.innerHTML = '<option></option>'
            }
          }
        }
    })
});
</script>
{% endblock %}

{% block package_basic_fields_org %}
  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

  {% if show_organizations_selector and show_visibility_selector %}
    <div data-module="dataset-visibility">
  {% endif %}

  {% if show_organizations_selector %}
    {% set existing_org = data.owner_org or data.group_id %}
    <div class="control-group">
      <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
      <div class="controls">
        <select id="field-organizations" name="owner_org" data-module="autocomplete">
          {% if h.check_config_permission('create_unowned_dataset') %}
             <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
          {% endif %}
          {% for organization in organizations_available %}
            {# get out first org from users list only if there is not an existing org #}
            {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
            
            <!-- Multilang extension set the localized org name using helper function -->
            {% set localized_org = h.get_localized_group(organization) %}
            <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ (localized_org.display_name) or (organization.display_name) }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}

  {% if show_visibility_selector %}
    {% block package_metadata_fields_visibility %}
      <div class="control-group">
        <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        <div class="controls">
          <select id="field-private" name="private">
            {% for option in [('True', _('Private')), ('False', _('Public'))] %}
            <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endblock %}
  {% endif %}

  {% if show_organizations_selector and show_visibility_selector %}
    </div>
  {% endif %}


  {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
    <div class="control-group">
      <label for="field-state" class="control-label">{{ _('State') }}</label>
      <div class="controls">
        <select id="field-state" name="state">
          <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
          <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
        </select>
      </div>
    </div>
  {% endif %}

{% endblock %}

